canvas {
    margin-top: 50px;
    /* background-color: black; */
    background-image: url('./Img/galaxy-red-orange.png');
    background-color: rgba(0, 0, 0, 0.5);
}

body {
    background-image: url('./Img/galaxy-red-orange.png');
    color: white
}

h1 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.9em;
    color: lightgrey;
}

.controls {
    display: grid;
    grid-template-columns: 50px 150px;
    color: lightgrey;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;

  }
