canvas {
    margin-top: 100px;
    background-image: url('./Img/galaxy-green-red.png'); 
    background-size: cover;
    background-position: center;
    background-color: black;
    width: 100%;
    height: 100;
    transform: rotate(90deg);
}

body {
    background-color: black;
    color: white
}